<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p>{{ error.message }}</p>
        <a href="/start">Go Back</a>
    </div>
</body>
</html>