<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="start.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<img class="logo" src="Logohome1.png" alt="Logo">
		<div class="button-container">
			<button id="signup-button" onclick="showSignup()">Sign Up</button>
			<button id="login-button" onclick="showLogin()">Login</button>
		</div>
	</div>
	<script src="start.js"></script>
</body>
</html>