<!DOCTYPE html>
<html>
<head>
    <title>Ticket Booking</title>
    <link rel="stylesheet" href="tickets.css"> 
</head>
<body>
     <header class="header">
        <a href="/home">
            <img class="logo" src="Logohome1.png" alt="Logo">
        </a>
        <div class="navigation">
            <a href="Report.html">Report</a>
            <a href="/profile">
                <img id="profilePicHeader" class="profile-pic" src="default.jpg" alt="Profile Picture">
            </a>
        </div>
    </header>

    <h1>BOOK YOUR TICKETS RIGHT NOW!</h1>
    <div class="button-container">
        <button class="button" onclick="selectTicket('LRT')">LRT</button>
        <button class="button" onclick="selectTicket('LRT2')">LRT 2</button>
        <button class="button" onclick="selectTicket('MRT')">MRT</button>
    </div>

    <div class="popup-container" id="popupContainer3">
        <h2>Select your ticket</h2>
        <div class="ticket-options3">
            <button class="ticket-button">Taft</button>
            <button class="ticket-button">Magallanes</button>
            <button class="ticket-button">Ayala</button>
            <button class="ticket-button">Buendia</button>
             <button class="ticket-button">Baclaran</button>
            <button class="ticket-button">EDSA</button>
            <button class="ticket-button">Libertad</button>
            <button class="ticket-button">Gil Puyat</button>
            <button class="ticket-button">Vito Cruz</button>
            <button class="ticket-button" >Quirino Avenue</button>
            <button class="ticket-button">Pedro Gil</button>
            <button class="ticket-button">UN Avenue</button>
            <button class="ticket-button">Central Terminal</button>
            <button class="ticket-button">Carriedo</button>
            <button class="ticket-button">Doreteo Jose</button>
            <button class="ticket-button">Bambang</button>
            <button class="ticket-button">Tayuman</button>
            <button class="ticket-button">Bluementritt</button>
            <button class="ticket-button">Abad Santos</button>
            <button class="ticket-button">R. Papa</button>
            <button class="ticket-button">5th Avenue</button>
            <button class="ticket-button">Yamaha Monumento</button>
            <button class="ticket-button">Roosevelt</button>
            <button class="ticket-button">Balintawak</button>
            <button class="ticket-button">Recto</button>
            <button class="ticket-button">Legarda</button>
            <button class="ticket-button">Pureza</button>
            <button class="ticket-button">V.Mapa</button>
            <button class="ticket-button">J.Ruiz</button>
            <button class="ticket-button" >Gilmore</button>
            <button class="ticket-button">Betty Go-Belmonte</button>
            <button class="ticket-button">Araneta Center - Cubao</button>
            <button class="ticket-button">Anonas</button>
            <button class="ticket-button">Katipunan</button>
            <button class="ticket-button">Santolan</button>
        </div>
        <button class="close-button" onclick="closePopup()">Close</button>
    </div>
</body>
<script src="home.js"></script>
</html>




