body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f0f0;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #BBF7FE;
    padding: 15px;
    color: #fff;
    border-radius: 2%;
    z-index: 999;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 8px;
    margin-top: -45px;
    margin-bottom: 5px;
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #af7200;
}

.container {
    margin: 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.post {
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.post img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.post-username {
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.post-username img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: fill;
    margin-right: 10px;
}

.post-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 600px;
    height: 500px;
}

.post-form textarea {
    width: 85%;overflow: hidden; /* Add this to prevent pictures from overlapping the circle */
    height: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
}

.post-form button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.file-input {
    display: inline-block;
}

.add-post {
    grid-column: 1;
    grid-row: 1;
    width: 400px;
    height: 600px;
    border: 2px dashed #bebebe;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-post:hover {
    background-color: #f9f9f9;
}

.add-post img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.post-content img.uploaded-pic {
    width: 350px;
    height: auto;
    max-height: 450px;
    margin-bottom: 20px;
    margin-top: -5px;
    object-fit: contain;
}

.post-settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.post:hover .post-settings {
    opacity: 1;
}

.post-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.post-buttons button {
    margin: 0 5px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.hidden-post {
    display: none;
}

.preview-image img {
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    height: auto;
    object-fit: contain;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.button {
    background-color: #af7200;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.button img {
    max-width: 100%; 
    max-height: 100%;
}

.button:hover {
    background-color: #e09300;
    opacity: 0.8; 
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
  }

  .comment-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
}

.comment-container {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .comment-input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .comment-submit-button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .comments-container {
    margin-top: 10px;
  }
  
  .comment {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }