body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f0f0;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #BBF7FE;
    padding: 15px;
    color: #fff;
    border-radius: 2%;
    z-index: 999;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 8px;
    margin-top: -45px;
    margin-bottom: 5px;
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #af7200;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button {
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.container {
    width: 80%;

    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.popup-container{
    display: Block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.comment-container {
    display: none;
}
